
/* 字体跳动 */
@keyframes my-word-dance {
    0%{
        transform: scale(1.2,0.8);
    }
    10%{
        transform: scale(1)
    }
    50% {
        transform: translateY(-10px);
    }
    90%{
        /* transform: scale(1) */
    }
    100% {
        transform: scale(1.2,0.8);
        /* opacity: 0.3; */
    }
}

/* 闪烁 */
@keyframes my-spark {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}